@import '~@fortawesome/fontawesome-free/css/all.min.css'
@import 'flex'

//--------------------------------//
//------------- Base -------------//
//--------------------------------//

body
  margin: 0
  font-family: 'Open Sans', sans-serif
  font-weight: 300
  font-size: 14px

*
  box-sizing: border-box

a
  color: $textViolet


/* ---- Logo ---- */
.logo
  width: 100px
  max-width: 100%
  margin: 30px auto
  display: block
  background: url('../images/logo.png') no-repeat 0 0
  background-size: 100%
  span
    cursor: default
    opacity: 0

/* ---- grid ---- */
.container
  width: $container
  max-width: 100%
  margin: auto

.container-small
  width: $container-small
  max-width: 100%
  margin: auto

/* ---- Title ---- */
h1, h2, h3
  font-weight: 500
  color: $textViolet
  text-align: center
h1
  font-size: 30px
h2
  font-size: 25px

/* ---- List ---- */
.list-style-none
  margin: 0
  padding: 0
  list-style: none

/* ---- Colors ---- */
.grey
  color: $textGrey


/* ---- Colors ---- */
.bloc-grey
  padding: 20px
  background: #f6f5f7
  border: 1px solid #ece9ef
  +border-radius($radius-md)


/* ---- Buttons ---- */
button, .button, *[class*='btn-']
  padding: 10px 20px
  display: inline-block
  cursor: pointer
  border: 1px solid $borderViolet
  box-shadow: none
  background: white
  text-decoration: none
  color: $textGrey
  +border-radius($radius-md)
  &:focus, &:active
    outline: none
  &:hover
    border-color: $borderVioletDark
  &.btn-lg
    padding: 10px 30px
  &.btn-sm
    padding: 5px 10px
  &.btn-xs
    padding: 2px 10px
  &.no-btn-style
    padding: 0
    border: none
    background: none
  &.destroy
    color: $red
    &:after
      position: relative
      top: 2px
      content: "\f00d"
      +fa(15px)
  &.btn-violet
    font-weight: 300
    color: white
    border: 1px solid $borderVioletDark
    +gradient(vertical, $borderVioletMedium, $borderVioletDark)
    +border-radius($radius-md)
    &:focus, &:active, &:hover
      +gradient(vertical, $borderVioletDark, $borderVioletMedium)

/* ---- Margin & Padding ---- */
$sizes: (xxs:$pixel-xxs, xs:$pixel-xs, sm:$pixel-sm, md:$pixel-md, lg:$pixel-lg, xl:$pixel-xl, xxl:$pixel-xxl)
$directions: ('top', 'right', 'bottom', 'left')

@each $size, $pixel in $sizes
  .m-#{$size}
    margin: $pixel
  .p-#{$size}
    padding: $pixel
  @each $direction in $directions
    .m-#{$direction}-#{$size}
      margin-#{$direction}: $pixel
    .p-#{$direction}-#{$size}
      padding-#{$direction}: $pixel


/* ---- Display ---- */
.hide
  display: none
.full-width
  width: 100%
.display-block
  display: block


/* ---------- Alignment ---------- */
.text-left
  text-align: left

/* ---------- Navigation ---------- */
.navbar
  padding: 10px
  background: $borderViolet
  color: $borderVioletDark
